<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form</title>
  <link rel="stylesheet" href="contact.css">
</head>

<body>
  <div class="flexcontainer">

    <div id="loginform">
      <form action="{% url 'contact' %}" method="post">
        {% csrf_token %}
        <table>
          <a href="#logo" class="logo">
            <img src="./images_2/StudySyn copy.svg" alt="logo" class="logo-icon">
            <span class="logo-text">StudySync</span>
          </a>
          <tr>
            <td>
              <label for="name1">Name:</label>
            </td>
            <td>
              <input type="text" name="Name" id="name1" placeholder="your name" required>
            </td>
          </tr>


          <tr>
            <td>
              <label for="email1">Email:</label>
            </td>
            <td>
              <input type="email" name="Email" id="email1" placeholder="your email" required>
            </td>
          </tr>


          <tr>
            <td>
              <label for="phone1">Phone Number:</label>
            </td>
            <td>
              <input type="tel" name="Phone" id="phone1" required>
            </td>
          </tr>


          <tr>
            <td>
              <label for="Gender">Gender:</label>
            </td>
            <td>

              <label for="male1">Male:</label>
              <input type="radio" name="Gender" id="male1">

              <label for="female1">Female:</label>
              <input type="radio" name="Gender" id="female1">

              <label for="other1">Other: </label>
              <input type="radio" name="Gender" id="other1">
            </td>
          </tr>

  
          <tr>
            <td>
              <label for="about1">Message:</label>
            </td>
            <td>
              <textarea id="about1" cols="50" rows="3" name="Message" placeholder="write about yourself..." required></textarea>
            </td>
          </tr>

          <tr>
            <td colspan="2"><input type="submit" class="submit" value="Submit" /></td>
          </tr>

        </table>

      </form>

    </div>

  </div>

</body>

</html>